#navbarNav {
  text-align: center;
  background-color: rgb(38, 112, 173);
  color: white;
}

#navbarNav .nav-link:hover { font-weight: bold }
#navbarNav .nav-link {
  color:white;
}

footer {
  display:block;
  height: 15px;
  margin-top: 25px;
  background-color: rgb(38, 112, 173);
  border-top: 2px solid black;
}

.project-container {
  padding: 12px;
}

.project-wrapper {
  border: 1px solid black;
}

.project-header {
  padding: 5px;
  background-color:rgb(38, 112, 173);
  color: white;
  font-weight: bold;
  border: 1px solid black;
}

.project-content {
  padding: 15px;
}

.project-date {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 24px;
  overflow: hidden;
}

.project-creator {
  text-align: right;
  word-wrap: none;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.dashboard-list .project-wrapper {
  border: 0px solid transparent;
  cursor: pointer;
}

.dashboard-list .project-content {
  display: none;
}

.dashboard-list .project-header {
  border-radius: 10px;
  cursor: pointer;
}
